<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="An online platform creating access to quality manufacturing has never been easier">
    <meta name="keywords" content="An online platform creating access to quality manufacturing has never been easier">
    <meta name="author" content="CapacityM :: DRB ">
    <title>@ViewData["Title"] - CapacityM</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css">

    <!-- Icofont Css -->
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/plugins/animate-css/animate.css">
    <!-- Icofont -->
    <link rel="stylesheet" href="/plugins/icofont/icofont.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Data Tables-->
    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158813007-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-158813007-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '732721283858129');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=732721283858129&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    @RenderSection("Styles", required: false)
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <nav class="navbar navbar-expand-lg fixed-top trans-navigation">
        <div class="container">
            <a class="navbar-brand mr-0" style="width:20%" href="/">
                <img src="~/images/logo-new.gif" alt="" style="width:100%; max-width:224px; min-width:150px;" class="img-fluid b-logo">
            </a>
            <button class="navbar-toggler float right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse justify-content-end border-0" id="mainNav">
                <ul class="navbar-nav ">
                    <li class="nav-item mt-0">
                        <a class="nav-link smoth-scroll" href="/">Home</a>
                    </li>
                    <li class="nav-item mt-0">
                        <a class="nav-link smoth-scroll" href="/about">About</a>
                    </li> 
                    <partial name="_TendersMenu" />  
                    <li class="nav-item mt-0">
                        <a class="nav-link smoth-scroll" href="/contact">Contact</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    @RenderBody()

    <!--  FOOTER AREA START  -->
    <section id="footer" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-8 col-md-8">
                    <div class="footer-widget footer-link">
                        <h4>We provide a platform<br> to help grow your business rapidly.</h4>
                        <p>An online platform creating access to quality manufacturing has never been easier.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget footer-link">
                        <h4>About</h4>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/functions">Service</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/partner">Partner</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                @*<div class="col-lg-2 col-sm-6 col-md-6">
                        <div class="footer-widget footer-link">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">How it Works</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Report Bug</a></li>
                                <li><a href="#">License</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>*@
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="footer-widget footer-text">
                        <h4>Our location</h4>
                        <p class="mail"><span>Mail:</span> support@capacitym.com</p>
                        <p><span>Phone :</span>+1-519-803-6990</p>
                        <p><span>Location:</span> 102 Hickory Hollow Cres, ON N2N 1X9</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer-copy">
                        © 2022 CapacityM All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  FOOTER AREA END  -->
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/Capacitym"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/capacitym_com"><i class="fa fa-twitter"></i></a></li>


                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="https://capacitym.com/">Capacitym</a></u> </p>
                </div>
            </div>
        </div>
    </section>
    <!--  FOOTER AREA END  -->
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Woow animtaion -->
    <script src="/plugins/counterup/wow.min.js"></script>
    <script src="/plugins/counterup/jquery.easing.1.3.js"></script>
    <!-- Counterup -->
    <script src="/plugins/counterup/jquery.waypoints.js"></script>
    <script src="/plugins/counterup/jquery.counterup.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--Moment js-->
    <script src="~/lib/momentjs/moment.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="/js/custom.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <!--Data Tables-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="~/lib/datatables/datatables.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e8b22aec8b95b8e"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-dropzone@3.6.0/dist/vue2Dropzone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-form-wizard@0.8.4/dist/vue-form-wizard.min.js"></script>
    @RenderSection("Scripts", required: false)
    <style>
        div#cookieConsent {
            z-index: 10000;
        }
    </style>
    <script>
        var _user = '@User.Identity.Name';
    </script>
</body>
</html>
