@model Vue2Spa.Areas.Portal.Models.Job

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

    <div class="container">
        <h1 class="pt-5">Tender Details</h1>

        <div>
            
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Number)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Number)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tax)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tax)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TaxPickup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TaxPickup)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TaxShipping)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TaxShipping)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateAvailable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateAvailable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateAvailableUtc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateAvailableUtc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateClosing)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateClosing)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateClosingUtc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateClosingUtc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateClosingSecondary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateClosingSecondary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Scope)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Scope)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PickupLocation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PickupLocation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Summary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OpeningProcess)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OpeningProcess)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Length)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Length)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Width)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Width)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Height)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Height)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Diameter)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Diameter)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MinTolerance)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinTolerance)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PricePickup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PricePickup)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PriceShipping)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PriceShipping)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Procedure)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Procedure)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowUnofficial)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowUnofficial)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowSubmitted)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowSubmitted)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowPlanTakers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowPlanTakers)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowTeamMembers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowTeamMembers)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowTeamMembersContact)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowTeamMembersContact)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HasReferenceTable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HasReferenceTable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HasSubContractorTable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HasSubContractorTable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PreQualSubContractorsOnly)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PreQualSubContractorsOnly)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumReferencesRequired)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumReferencesRequired)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HasSummaryTable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HasSummaryTable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SummaryTableName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SummaryTableName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsSubTotalOnSummary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsSubTotalOnSummary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SelectedTablesForSummary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SelectedTablesForSummary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BidFormsHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BidFormsHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TermsAndConditionsHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TermsAndConditionsHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ReferenceHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReferenceHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SubContractorHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SubContractorHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QuestionHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QuestionHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SummaryTableHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SummaryTableHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SummaryTableFooterText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SummaryTableFooterText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QuestionDeadline)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QuestionDeadline)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsCloseQuestionsAfterDeadline)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsCloseQuestionsAfterDeadline)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IncludeOtherDocument)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IncludeOtherDocument)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AllowBidDocumentPreview)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AllowBidDocumentPreview)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BondHeadingText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BondHeadingText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BondTitle)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BondTitle)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BondTitle2)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BondTitle2)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TermsAndConditionsChevronLabel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TermsAndConditionsChevronLabel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.InstructionPageText)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InstructionPageText)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProvideInstructionsPage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProvideInstructionsPage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EstimatedValue)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EstimatedValue)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TotalContractAmount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TotalContractAmount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowPurchasingRepsOnPublic)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowPurchasingRepsOnPublic)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AllowFullBidDetailsUrl)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AllowFullBidDetailsUrl)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AllowMultipleSubmissions)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AllowMultipleSubmissions)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ShowOnWebsite)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ShowOnWebsite)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Evaluations)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Evaluations)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BidNotApproved)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BidNotApproved)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateAwarded)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateAwarded)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LeadAgency)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LeadAgency)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ParticipatingAgencies)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ParticipatingAgencies)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumberOfAgencies)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumberOfAgencies)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EstimatedAnnualValue)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EstimatedAnnualValue)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ActualContractValue)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ActualContractValue)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ActualAnnualValue)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ActualAnnualValue)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PostCloseBidException)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PostCloseBidException)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UnsealManually)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UnsealManually)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PlannedIssueDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PlannedIssueDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsAttendanceTrackingOn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsAttendanceTrackingOn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsCloseRegistrationAfterMeetingDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsCloseRegistrationAfterMeetingDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Deleted)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Deleted)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreationTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreationTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                @*<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastUpdated)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastUpdatedBy)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastUpdatedBy)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Customers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Customers.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.isNda)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.isNda)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TermsDocumentId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TermsDocumentId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NdaDocumentId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NdaDocumentId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ContractDocumentId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ContractDocumentId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CadFileDocumentId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CadFileDocumentId)
                </dd>*@
            </dl>
        </div>
        <div class="pt-2">
            <a asp-action="SubmitQuestion" asp-route-id="@Model.Id" class="btn btn-primary">Submit a Question</a>
            <a asp-action="RegisterToBid" asp-route-id="@Model.Id"  class="btn btn-success">Register For this Bid</a> 
            <a asp-action="DownloadBidDocuments" asp-route-id="@Model.Id"  class="btn btn-warning">Download Bid Documents</a> 
            <a asp-action="Index"  class="btn btn-danger">Back to List</a>
        </div>

    </div>
