@model Vue2Spa.Areas.Portal.Models.Job

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var jobId = Model.Id.ToString();
    var bidder = ViewBag.Bidder;

    TempData["jobid"] = jobId;
    TempData["bidder"] = bidder;
}

<div class="container">
    <div class="py-5 text-center">
        <h1 class="pt-5">Tender Details</h1>
        <p class="lead">
            @Model.Name
        </p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-1 mb-4">
            <a asp-action="Index" class="btn btn-danger btn-block">Back to Opprtunities List</a> 
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Specifications</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Length)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.Length) inches</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Width)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.Width) inches</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Height)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.Height) inches</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Diameter)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.Diameter) mm</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.MinTolerance)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.MinTolerance) mm</span>
                </li>

                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Quantity)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">@Html.DisplayFor(model => model.Quantity)</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.Price)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">$@Html.DisplayFor(model => model.Price)</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Html.DisplayNameFor(model => model.PricePickup)</h6>
                        <small class="text-muted"></small>
                    </div>
                    <span class="text-muted">$@Html.DisplayFor(model => model.PricePickup)</span>
                </li>
            </ul>

            <a asp-action="SubmitQuestion" asp-route-id="@Model.Id" class="btn btn-primary btn-block">
                Submit a Question
            </a>

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Documents</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">NDA</h6>
                        <small class="text-muted">Non Disclosure Agreement</small>
                    </div>
                    <button class="btn-sm btn btn-outline-primary" " onclick="download('@Model.NdaDocumentId')">Download</button>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Terms</h6>
                        <small class="text-muted">Terms and Conditions</small>
                    </div>
                    <button class="btn-sm btn btn-outline-primary" " onclick="download('@Model.TermsDocumentId')">Download</button>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Contract</h6>
                        <small class="text-muted">Supply Contract for lawyers</small>
                    </div>
                    <button class="btn-sm btn btn-outline-primary" " onclick="download('@Model.ContractDocumentId')">Download</button>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="text-success">
                        <h6 class="my-0">Visualizations File</h6>
                        <small>Technical files (CAD Drawings, Pictures, Etc)</small>
                    </div>
                    <button class="btn-sm btn btn-outline-primary" onclick="download('@Model.CadFileDocumentId')">Download</button>
                </li>
            </ul>

        </div>
        <div class="col-md-8 order-md-2">
            <h4 class="mb-3">Project Details</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Project">Project</label>
                    <div>@Model.Name</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Ref">Ref. #:</label>
                    <div>@Model.Number</div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Type">Type</label>
                    <div>@Model.Type</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Status">Status</label>
                    <div>@Model.Status</div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Type">Open Date</label>
                    <div>@Model.DateAvailable.ToLongDateString()</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Status">Questions Due Date</label>
                    <div>@Model.QuestionDeadline.Value.ToLongDateString()</div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Type">Close Date</label>
                    <div>@Model.DateClosing.ToLongDateString()</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Status">Days Left</label>
                    <div>@((Model.DateClosing - Model.DateAvailable).TotalDays)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model.Description)
                </div>
            </div>

            @if (!User.IsInRole("Bidder"))
            {
                @Html.ActionLink("Register For this Bid", "RegisterToBid","Tenders", null, new { @class = "btn btn-success btn-block text-white pb-3" })
            }
            else
            {
                

                @Html.ActionLink("Place Bid", "Bid","Tenders",null, new { @class = "btn btn-success btn-block text-white pb-3" })
            }

        </div>
    </div>

</div>

<style>
    .trans-navigation {
        background: black;
    }
</style>
@section Scripts {

    <script>
        function download(id) {
            axios({

                url: '/portal/api/documents/' + id,

                method: 'GET',

            }).then(function (doc) {
                axios({

                    url: '/portal/api/document/' + id,

                    method: 'GET',

                    responseType: 'blob',

                }).then((response) => {

                    var fileURL = window.URL.createObjectURL(new Blob([response.data]));

                    var fileLink = document.createElement('a');

                    fileLink.href = fileURL;

                    fileLink.setAttribute('download', doc.data.name);

                    document.body.appendChild(fileLink);

                    fileLink.click();

                })
            });
        }
    </script>

}
