@model HelpingHands.Models.Product

@{
    ViewData["Title"] = "Details";
}

<section id="intro" class="section-padding">
    <div class="container">
        <h4>Product Details</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Upc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Upc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Height)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Diameter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diameter)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MinTolerance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MinTolerance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customers)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customers.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</section>

    <style>
        .trans-navigation {
            background: black;
        }

        table.dataTable thead tr {
            background-color: black;
            color: white;
        }
    </style>
